 #add
{
	width:500px;
	height:600px;
	box-shadow:10px 10px green;
	border-radius:25px;
	background-image:url('images (35).jpg') ;

}
#login
{
	width:400px;
	height: 200px;
	box-shadow:10px 10px green;
	border-radius:25px;
	background-color:#B0BF1A;

}

 